<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link rel="stylesheet" href="css/home.css">
</head>

<body>


  <div class="container">
    <div class="first-div">
      <span>Welcome <%- name %> </span><a href="/logout">Logout</a>
      <div class="profile-section">
        <!-- Profile section content -->
        <!-- Example content: Name and Logout link -->

      </div>
      <h1>Quiz App</h1>
      <form id="quizForm" action="/createQuizz" method="post">

        <label for="quizTitle">Quiz Title:</label>
        <br><br>
        <input type="text" id="quizTitle" name="quizzTitleName" required>


        <br><br>
        <input onclick="addQuestion(this)" type="submit" value="Create Quizz">
      </form>
    </div>

    <div class="second-div">





      <% for (const key in jsObject) { %>                        

        <% for (const key1 in jsObject0) { %>
          <% if (key1 == key) { %>
            <h2 style="background-color: rgb(154, 149, 149);"><%- jsObject0[key1] %></h2>
          <% } %>        
        <% } %>


        <% jsObject[key].forEach(function(mcqQuestion) { %>

          <p style="background-color: rgb(236, 236, 125);"><%= mcqQuestion.questionBody %></p>

          <% mcqQuestion.choices.forEach(function(option, index) { %>
            <% if (index == 0) { %>
              <hr> 
               <p>A : <%= option %></p>   
                          
            <% } %>            
            

            <% if (index == 1) { %>
              <hr>
              <p>B : <%= option %></p>              
            <% } %>
            

            <% if (index == 2) { %>
              <hr>
              <p>C : <%= option %></p>              
            <% } %>
            

            <% if (index == 3) { %>
              <hr>
              <p>D : <%= option %></p>              
            <% } %>
            
            
            <% if (index == mcqQuestion.AnswerIndex) { %>
              <span style="background-color: rgb(165, 207, 165);">Correct Option </span>
            <% } %>

            
          <% }); %>          


        <% }); %>
        
      <br><br>
        <div id="<%- key%>">            
          <button class="add-question" onclick="addQuestion('<%-key%>')">Add question</button>
        </div>

      <% } %>

    </div>
  </div>

  
  <script src="js/home.js"></script>

</body>
</htm