<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= quizzTitle.quizzTitleName %></h1>
    
    <% arr.forEach((ob,index) => { %>
        <h3><%= ob.referencedInstance.questionBody  %></h3>

        <% ob.referencedInstance.choices.forEach(choice => { %>            
            <% if (ob.referencedInstance.AnswerIndex == index) { %>
                <% if (ob.selectedIndex == ob.referencedInstance.AnswerIndex ) { %>                            
                    <li><%= choice %></li>
                    <h5>Correct and your answer</h5> 
                <% } else { %>
                    <li><%= choice %></li>
                    <h5>Correct answer</h5>
                <% } %>                    
          <% } else { %>
            <li><%= choice %></li>
          <% } %>

        <% }); %>   

    <% }); %>

    <script src="js/yourQuizz.js"></script>
</body>
</html>
